.plant-icon { /* add media query padding left */
    width: 50px;
    height: 50px;
    padding-top: 10px;
}
.slider {
  position: relative;
  width: 100%;
  height: 100hv;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header-home {
  margin-bottom: -30px;
  font-size: 64px;
}

.slider video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.store-image {
  width: 20%;
  height: 20%;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0; /* Add this line */
}


/* FOOTER */
.copyright {
  text-align: center;
}
.container-footer {
    height: 100px;
}
.icon-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn .center {
    justify-content: center;
    display: flex;
}
/* FORM */
.form {
    height: 300px;
    width: 300px;
}

.submit {
    display: flex;
    justify-content: center;
}

/* email icon */
.email-icon {
    position: absolute;
    top: 28px;
    left: 15px;
  }
  

  .email-label {
    position: absolute;
    top: 8px;
    left: 40px;
  }

/* CSS */
.materialize-textarea {
    width: 100%; 
}

.row {
    margin-bottom: 0px;
}

/* SLIDES */
/* .carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    transform-origin: left; 

  }
  
  .carousel-images img {
    width: 100%;
    height: 100%;
  }
  
  .carousel-prev,
  .carousel-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }
   */

   .container-plant {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-imagess {
    flex: 0 0 100%;
    max-width: 100%;
}