.plant-icon {
    width: 50px;
    height: 50px;
    padding-top: 10px;
}
/* add media query padding left */


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.logo-hnub {
    height: 200px;
    width: 200px;
    align-items: center;
}

.plant {
    height: 50px;
}

/* FOOTER */
/* .page-footer {
    height: 
} */